@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.btn {
    font-size: 1.4rem;
    padding: 14px 30px;
    border-radius: 4px;
}
.btn-primary {
    background-color: theme('colors.green');
    color: white;
    border-radius: 4px;
}
